{% extends 'base.html' %}
{% load utils %}
{% block title %}Add Policy{% endblock %}
{% block container %}
<div class="space-y-5">
  <div class="div-container py-3">
    <h1 class="text-2xl font-semibold text-gray-900">Add policy</h1>
    <p class="text-sm text-gray-600 mt-1">Create a new firm policy</p>
  </div>
  <form method="post" class="div-container max-w-2xl">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-primary text-xs mt-4" type="submit">Add policy</button>
  </form>
</div>
{% endblock %}
