<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>ANP Complaints Guide</title>
      <meta name="author"/>
      <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
         .s1 { color: #009CAD; font-family:Calibri; font-style: normal; font-weight: normal; text-decoration: none; font-size: 22pt; }
         .s2 { color: #8EC441; font-family:Calibri; font-style: normal; font-weight: normal; text-decoration: none; font-size: 16pt; }
         p { color: #020303; font-family:"Arial", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
         .a, a { color: #020303; font-family:"Arial", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         li {display: block; }
         #l1 {padding-left: 0pt;counter-reset: c1 1; }
         #l1> li>*:first-child:before {counter-increment: c1; content: counter(c1, decimal)". "; color: #020303; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         #l1> li:first-child>*:first-child:before {counter-increment: c1 0;  }
      </style>
   </head>
   <body>
      <h2 style="text-align:center; margin-bottom:18px; font-family:'Arial', serif; font-weight: bold; font-size: 16pt;">
         COMPLAINTS GUIDE
      </h2>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: justify;">ANP Solicitors take client dissatisfaction with our service very seriously as we aim in each matter to exceed the standards required of us by English Law and Courts, the Solicitors Regulation Authority (SRA) and the Rules on Evidence. We hope this guide will assist clients in understanding our procedure for handling all issues and concerns with our service.</p>
      <p style="padding-top: 8pt;text-indent: 0pt;text-align: left;"><br/></p>
      <ol id="l1">
         <li data-list-text="1.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: justify;">We will nominate another solicitor within the firm as your dedicated Point of Contact (POC) and ask you to direct all future communications concerning your complaint to this person. The POC will not be the solicitor dealing with your case to ensure that the complaint is handled objectively and to provide you with a second opinion regarding the matter.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="2.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: left;">Please contact the POC by letter or email to let them know about the issues with our service.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="3.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: left;">We will acknowledge your complaint within two working days of receipt of your first communication with the POC.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="4.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: justify;">We will explain the way we will deal with your complaint within the next two weeks; for example, by way of a meeting with you, provision of further information, and/or an investigation into the issues raised. You will not be charged for making a complaint.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="5.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: justify;">After perusal of the file, your POC will consider all the facts and evidence relating to the complaint and report the findings and conclusion to you i.e. if the firm has provided or failed to provide a reasonable service to you. In reaching a conclusion, your POC will take into account the professional standards required by the SRA, rules of Courts and the Law.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="6.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: left;">We will endeavour to resolve your complaint within 8 weeks of receipt of your first communication with the firm.</p>
            <p style="text-indent: 0pt;text-align: left;"><br/></p>
         </li>
         <li data-list-text="7.">
            <p style="padding-left: 39pt;text-indent: -23pt;text-align: justify;">At this stage, if you are satisfied with the outcome of our investigation, you do not need to take further action. If, however, you are dissatisfied, you have the option of taking your complaint to the Legal Ombudsman (contact details below). Please let us know should you choose this option.</p>
         </li>
      </ol>
      <p style="padding-top: 7pt;text-indent: 0pt;text-align: left;"></p>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;"><a href="mailto:enquiries@legalombudsman.org.uk" class="a" target="_blank">Address: Legal Ombudsman, PO Box 6806, Wolverhampton, WV1 9WJ Telephone: 0300 555 0333 (Monday-Friday 8:30am-5:30pm) Email: </a><a href="mailto:enquiries@legalombudsman.org.uk" target="_blank">enquiries@legalombudsman.org.uk</a></p>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;"><a href="http://www.legalombudsman.org.uk/" class="a" target="_blank">Website: </a><a href="http://www.legalombudsman.org.uk/" target="_blank">www.legalombudsman.org.uk</a></p>
   </body>
</html>