<div class="col">
    <div class="col-span-4">
      <label class="form-label">Name</label>
      <input type="text" class="form-input" name="OSName">
    </div>
    <div class="col-span-4">
      <label class="form-label">Address Line 1</label>
      <input type="text" class="form-input" name="OSAddressLine1">
    </div>
    <div class="col-span-4">
      <label class="form-label">Address Line 2</label>
      <input type="text" class="form-input" name="OSAddressLine2">
    </div>
    <div class="col-span-4">
      <label class="form-label">County</label>
      <input type="text" class="form-input" name="OSCounty">
    </div>
    <div class="col-span-2">
      <label class="form-label">Postcode</label>
      <input type="text" class="form-input" name="OSPostcode">
    </div>
  </div>
  <div class="col">
    <div class="col-span-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-input" name="OSEmail">
    </div>
    <div class="col-span-3">
      <label class="form-label">Contact Number</label>
      <input type="tel" class="form-input" name="OSContactNumber">
    </div>

    <div class="col-span-4">
      <label class="form-label">Solicitors</label>
      <input type="text" class="form-input" name="OSSolicitors">
    </div>

    <div class="col-span-4">
      <label class="form-label">Solicitors Email</label>
      <input type="email" class="form-input" name="OSSolicitorsEmail">
    </div>
  </div>