
<style>
    
    h2 {
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    th, td.text-center {
        text-align: center;
    }
    .list_pep {
        list-style-type: disc;
        padding-left: 40px;
    }
    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .col {
        flex: 1;
        padding: 10px;
    }
    footer {
        margin-top: 40px;
    }
    hr {
        width: 33%;
        margin-left: 0;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
</style>


<div>
    <h2>“POLITICALLY EXPOSED PERSONS” QUESTIONNAIRE</h2>
    <br>

    <p>We are required to check if you, or anyone connected with you, might be a “politically exposed person” (known as a “PEP”). If so we have to take extra anti-money laundering precautions. Please answer the questions below, and if necessary add any explanation at the end.</p>

    <table>
        <tr>
            <td>
                <p><b>Have you been entrusted with a “prominent public function?”</b></p>
                <p>Consider the notes below, then delete as applicable.</p>
            </td>
            <td class="text-center">
                <b>YES / NO</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Answer “YES” if now or in the recent past (certainly in the last 12 months) you have held any of these roles, in any country:</p>
                <ul class='list_pep'>
                    <li>member of parliament</li>
                    <li>member of the governing body of a political party</li>
                    <li>appeal court judge</li>
                    <li>member of the court of auditors or the board of a central bank</li>
                    <li>diplomat or high-ranking officer in the armed forces</li>
                    <li>member of the administrative, management or supervisory body of a State-owned enterprise</li>
                    <li>senior officer or director of an international organisation</li>
                    <li>head of state, head of government, minister or deputy or assistant minister.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Does a member of your family hold such a function?</b></p>
                <p>Consider the notes below, then delete as applicable.</p>
            </td>
            <td class="text-center">
                <b>YES / NO</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Answer “YES” if any of the following hold any of the roles listed above:</p>
                <ul class='list_pep'>
                    <li>your spouse or civil partner</li>
                    <li>your parents, or the parents of your spouse or civil partner</li>
                    <li>your children.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <p><b>Does a close associate of yours hold such a function?</b></p>
                <p>Consider the notes below, then delete as applicable.</p>
            </td>
            <td class="text-center">
                <b>YES / NO</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>Answer “YES” if any of the following hold any of the roles listed above:</p>
                <ul class='list_pep'>
                    <li>someone with whom you have close business relations</li>
                    <li>someone with whom you have joint beneficial ownership of a legal entity or a legal arrangement (like a company or trust)</li>
                    <li>someone for whose benefit a legal entity or a legal arrangement has been set up, in respect of which you have sole ownership.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p><b>If you have answered “YES” to any question, please provide details here:</b>
                    <br><br><br>
                    <br><br><br>
                </p>

            </td>
        </tr>
    </table>
    <br>
    <p><b>I confirm the above answers are true to the best of my knowledge.</b></p>
    <br>
    <p>Name: ............................................................ File Number: ............................................................</p>
    <br><br>
    <p>Signed ............................................................ Dated ............................................................</p>



</div>

</body>
</html>
