
<style>
   

    h1 {
        text-align: center;
        font-size: 20pt;
    }

    p {
        font-size: 11pt;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
    }

    th {
        text-align: center;
    }

    .centered {
        text-align: center;
    }
</style>

<h1>SOURCE OF FUNDS QUESTIONNAIRE</h1>

<p><strong>Please fill in the second and third columns in this form, to explain the sources of the funds you are providing for this transaction.</strong></p>

<p>We need this information to meet the requirements of money laundering law, and your mortgage lender. We may also need to seek further information or documents from you.</p>

<table>
    <tr>
        <th>SOURCE</th>
        <th>AMOUNT</th>
        <th>OTHER INFORMATION</th>
    </tr>
    <tr>
        <td>Sale of current home (net of mortgage)</td>
        <td>£</td>
        <td></td>
    </tr>
    <tr>
        <td>Mortgage loan on new property</td>
        <td>£</td>
        <td>
            Name of lender<br><br>
            ………………………………………. 
        </td>
    </tr>
    <tr>
        <td>Savings from employment</td>
        <td>£</td>
        <td>
            (1) Are the funds in an account in your name? <strong>Yes / No</strong><br><br>
            (2) Name and address of your employer(s)<br><br>
            ………………………………………. <br><br>
            (3) Your salary/salaries (per annum)<br><br>
            ………………………………………. 
        </td>
    </tr>
    <tr>
        <td>Divorce settlement</td>
        <td>£</td>
        <td>
            Are the funds in an account in your name? <strong>Yes / No</strong><br><br>
            Which lawyers acted for you?<br><br>
            ………………………………………. <br><br>
            Date of divorce?<br><br>
            ………………………………………. 
        </td>
    </tr>
    <tr>
        <td>Inheritance</td>
        <td>£</td>
        <td>
            Are the funds in an account in your name? <strong>Yes / No</strong><br><br>
            From whom inherited?<br><br>
            ………………………………………. <br><br>
            Date of inheritance?<br><br>
            ………………………………………. 
        </td>
    </tr>
    <tr>
        <td>Third party providing funds</td>
        <td>£</td>
        <td>
            Their name, and relationship to you (e.g. “Edna Harris, my mother”)<br><br>
            ………………………………………. <br><br>
            Is this money repayable? <strong>Yes / No</strong>
        </td>
    </tr>
    <tr>
        <td>Other</td>
        <td>£</td>
        <td>
            Please provide details<br><br>
            ……………………………………….
        </td>
    </tr>
</table>
<br>
<p><b>I confirm the above answers are true to the best of my knowledge.</b></p>
<br>
<p>Name: ............................................................ File Number: ............................................................</p>
<br><br>
<p>Signed ............................................................ Dated ............................................................</p>

