<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Report</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @page { size: A4 landscape; }
 
    </style>
</head>
<body style="font-family: Times New Roman, Times, serif;">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-4">SEARCH REPORT</h1>
        </div>
        <div class="row mb-2">
            <div class="col-3">
                <div>
                    <strong>Search By:</strong> {{search_by}}
                </div>
            </div>
            <div class="col-3">
                <div>
                    <strong>Search Query:</strong> {{val_to_search}}
                </div>
            </div>
            {% if show_archived == 'True' %}
            <div class="col-3">
                <div>
                    <strong>Show Archived:</strong> Yes
                </div>
            </div>
            {% else %}
            <div class="col-3">
                <div>
                    <strong>Show Archived:</strong> No
                </div>
            </div>
            {% endif %}
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th class='td'>File Number</th>
                    <th class='td'>Fee Earner</th>
                    <th class='td'>Matter Description</th>
                    <th class='td'>Client 1 Name</th>
                    <th class='td'>Client 2 Name</th>
                    <th class='td'>Last Work Done By</th>
                    <th class='td'>Desc Of Last Work</th>
                    <th class='td'>Date Of Last Work</th>
                    <th class='td'>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr class=''>
                  <td>{{ forloop.counter }}</td>
                  <td class='td'>
                    <strong>{{ row.file_number }}</strong>
                  </td>
                  <td class='td'>{{ row.fee_earner__username|default:'-' }}</td>
                  <td class='td'>{{ row.matter_description|default:'-' }}</td>
                  <td class='td'>{{ row.client1__name|default:'-' }}</td>
                  <td class='td'>{{ row.client2__name|default:'-' }}</td>
                  <td class='td'>{{ row.latest_last_work_person|default:'-' }}</td>
                  <td class='td'>{{ row.latest_last_work_task|default:'-' }}</td>
                  <td class='td'>{{ row.latest_last_work_date|date:"d/m/Y"|default:'-' }}</td>
                  <td class='td'>{{ row.comments|default:'-' }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class=" text-center">No matters found.</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
        
        <div class="text-muted text-end">
            <p class="fs-6">
            Generated by {{user}} on {% now "jS F Y @ H:i" %}
            </p>
        </div>
    </div>
</body>
</html>
