{% load static %}
<div class="">
  <nav class="d-flex flex-row bg-light">
    <div class="d-flex justify-content-end highlight">
      <a
        class="p-2"
        href="{% url 'index' %}"
        style="background-color: transparent !important"
      >
        <img
          src="{% static 'Logo.png' %}"
          alt="ANP Logo"
          width="200"
          height="75"
        />
      </a>

      <div class="p-2 bd-highlight dropdown d-lg-none">
        <!-- Add 'd-lg-none' class to hide for large screens -->
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          id="mobileDropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="mobileDropdownMenuButton">
          <li>
            <a class="dropdown-item" href="{% url 'new_file' %}"
              >Open New File</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'unallocated_emails' %}"
              >Unallocated Emails</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'download_cashier_data' %}"
              >Cashier Data</a
            >
          </li>

          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>

      <div class="p-2 bd-highlight d-none d-lg-block align-items-center">
        <!-- Hide for small screens -->
        <a
          class="btn btn-primary nav-item p-2 bd-highlight"
          href="{% url 'new_file' %}"
          role="button"
          >Open New File</a
        >
      </div>
      <div class="p-2 bd-highlight d-none d-lg-block">
        <a
          class="btn btn-primary nav-item p-2 bd-highlight"
          role="button"
          href="{% url 'unallocated_emails' %}"
          >Unallocated Emails</a
        >
      </div>

      <div class="p-2 bd-highlight d-none d-lg-block">
        <!-- Hide for small screens -->
        <a
          class="btn btn-primary nav-item p-2 bd-highlight"
          role="button"
          href="{% url 'download_cashier_data' %}"
          >Cashier Data</a
        >
      </div>

      <div class="p-2 bd-highlight d-none d-lg-block">
        <a
          class="btn btn-primary nav-item p-2 bd-highlight"
          href="{% url 'logout' %}"
          role="button"
          >Logout</a
        >
      </div>
    </div>
  </nav>
</div>
