{% extends 'base.html' %} 
{% block title %}Home - {{matter.file_number}} {% endblock %} 
{% block container %}
{% load utils %}

<div class='grid md:grid-cols-2 gap-4 mt-2'>
    <h1 class='div-container md:w-fit h-fit text-3xl font-medium '>{{ file_number }} | Home</h1>
    <div class='div-container md:justify-self-end '>
        <h3 class='text-2xl mb-4 text-center'>Actions</h3>
       <div>
            <a id="dropdownDefaultButton" data-dropdown-toggle="dropdown-actions" 
                class="text-black bg-white hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border text-sm px-2 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                Other <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </a>
            <a class="btn-primary " href="{% url 'download_frontsheet' matter.file_number %}">Frontsheet</a>
            <!-- Dropdown menu -->
            <div id="dropdown-actions" class="z-10 hidden border bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 divide-y divide-gray-100" aria-labelledby="dropdownDefaultButton">
                <li>
                    <a href="{% url 'download_sowc' matter.file_number %}" class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">Download S of W & C</a>
                    </li>
                <li>
                    <a href="{% url 'edit_file' matter.file_number %}" class="block px-4 py-2 hover:bg-gray-100  dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                
                
                </ul>
            </div>
            
        </div>
    </div>
</div>
<div class='h-screen mt-4 gap-4 space-y-4'>
    <div class='grid md:grid-cols-6 md:h-1/3 h-full gap-4 '>
        <div class='div-container md:col-span-2 overflow-y-auto'>
            
            <div class='grid grid-cols-2 mb-2'>
                <h3 class='text-2xl'>Next Work</h3>
                <div class='justify-self-end'>
                    <button class='btn btn-primary text-xs' type="button" onclick="toggleNormalCollapse('nextWorkFormContainer');" >Add</button>
                </div>
            </div>
            <div id="nextWorkFormContainer" class='hidden bg-gray-50 p-2 border rounded-lg'>
                <form method="post" action="{% url 'add_next_work_file' matter.file_number %}">
                {% csrf_token %}
                {{next_work_form.as_p}}
                <button class='btn btn-primary'>Add</button>
                </form>
            </div>
            {% for work in next_work %}
                <p>
                <ul class="list mt-4">
                    <li class="list-item rounded-t-lg bg-gray-50">Person For Next Task: {{work.person}}</li>
                    <li class="list-item">Tasks Required: {{work.task}}</li>
                    <li class="list-item bg-gray-50">Date: {{work.date|date:"d/m/Y"}}</li>
                    <li class="list-item">Assigned on: {{work.timestamp|date:"d/m/Y @ h:iA"}}</li>
                    <li class='list-item rounded-b-lg bg-gray-50 '><a class='link' href="{% url 'edit_next_work' work.id %}">Edit</a></li>
                </ul>
                </p>
            {% endfor %}
            
        </div>
        <div class='div-container overflow-y-auto md:col-span-2'>
            
            <div class='grid grid-cols-2 mb-2'>
                <h3 class='text-2xl'>Last Work</h3>
                <div class='justify-self-end'>
                    <button class='btn-primary text-xs' type="button" onclick="toggleNormalCollapse('lastWorkFormContainer');" aria-expanded="false" aria-controls="lastWorkFormContainer">Add</button>
                </div>
            </div>
            
            <div id="lastWorkFormContainer" class='hidden bg-gray-50 px-4 py-2 border rounded-lg'>
                <form method="post" action="{% url 'add_last_work_file' matter.file_number %}">
                    {% csrf_token %}
                    {{last_work_form.as_p}}
                    <button class='btn-primary'>Add</button>
                </form>
            </div>
            <div class=''>
            {% for work in last_work %}
                <ul class=" list mt-4">
                    <li class="list-item rounded-t-lg bg-gray-50">Person Completed By: {{work.person}}</li>
                    <li class="list-item">Task(s) Completed: {{work.task}}</li>
                    <li class="list-item bg-gray-50">Date Assigned for: {{work.date|date:"d/m/Y"}}</li>
                    <li class="list-item">Completed/Added on: {{work.timestamp|date:"d/m/Y @ h:iA"}}</li>
                    <li class='list-item rounded-b-lg bg-gray-50'><a class='link' href="{% url 'edit_last_work' work.id %}">Edit</a></li>
                </ul>
            {% endfor %}
            </div>
                
        
            
        </div>
        <div class='div-container md:col-span-2 overflow-y-auto'>
            
            <div class='grid grid-cols-2 mb-2 '>
                <h3 class='text-2xl'>Logs</h3>
                <div class='justify-self-end'>
                    <a class="btn-primary text-xs" href="{% url 'download_file_logs' matter.file_number %}">Download</a>
                </div>
                <div class='col-span-2 flex gap-2'>
                <div class="form-check form-check-inline">
                    <input class="form-check-input filter-checkbox" type="checkbox" id="filterFinance">
                    <label class="form-check-label" for="filterFinance">Finance</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input filter-checkbox" type="checkbox" id="filterCorrespondence">
                    <label class="form-check-label" for="filterCorrespondence">Correspondence</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input filter-checkbox" type="checkbox" id="filterAttendanceNote" >
                    <label class="form-check-label" for="filterAttendanceNote">Attendance Notes</label>
                </div>
                </div>
            </div>
            <div class='overflow-auto mt-2 rounded border'>
                <table class='table ' id="logTable">
                <thead class='thead border-b'>
                    <tr>
                        <th class='td border-e'>
                            Type
                        </th>
                        <th class='td border-e'>
                            Description
                        </th>
                        <th class='td border-e'>
                            User
                        </th>
                        <th class='td border-e'>
                            Datetime
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr class="log-row hover:bg-gray-100 text-black border-b" data-type="{{ log.type }}">
                        <td class='td border-e'>
                            {{log.type|capfirst}}
                        </td>
                        <td class='td border-e'>
                            {% if log.desc|length > 50 %}
                            <div class="description-content">
                                {{ log.desc|slice:"0:50" }}{% if log.desc|length > 50 %}...{% endif %}
                            </div>
                            <button class='more-button link float-end'>More</button>
                            <div class="full-description" style="display: none;">
                                {{ log.desc }}
                            </div>
                            {% else %}
                            {{ log.desc }}
                            {% endif %}
                        </td>
                        <td class='td border-e'>
                            {{log.user}}
                        </td>
                        <td class='td'>
                            {{log.timestamp}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class='grid md:grid-cols-8 md:col-span-4 gap-4 md:h-2/3 md:pb-4'>
        <div class='div-container h-full md:col-span-3 overflow-y-auto'>
            <h3 class='text-2xl  mb-2'>File Summary</h3>
            <div class="overflow-y-auto" id="FileSummary" aria-expanded="true">
                <ul class="list">
                    <li class="list-item rounded-t-lg ">File Number: {{matter.file_number}}</li>
                    <li class="list-item">FeeEarner: {{matter.fee_earner}}</li>
                    <li class="list-item">Matter Description: {{matter.matter_description}}</li>
                    <li class="list-item rounded-b-lg">Funding: {% if matter.funding == 'PF'%}
                    Private Funding
                    {% else %}
                    Conditional Fee Agreement
                    {% endif %}
                    </li>

                    <div id="accordion-color" data-accordion="collapse" data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
                        <h2 id="accordion-color-heading-1">
                            <button type="button" class="text-left flex bg-gray-50 items-center justify-between w-full px-2 py-2 rtl:text-right text-black border-b dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" 
                                data-accordion-target="#accordion-color-body-1" aria-expanded="false" aria-controls="accordion-color-body-1">
                                <span class='text-black'>Client 1 - {{matter.client1.name}}</span>
                                <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                </svg>
                            </button>
                        </h2>
                        <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
                            <div class="py-2 border border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                <div class='grid grid-cols-2'>
                                    <div class='space-y-1'>
                                        <p class='px-2 '>Name: {{matter.client1.name}}</p>
                                        <p class='px-2 '>DOB: {{matter.client1.dob|date:'d/m/Y'}}</p>
                                        <p class='px-2 '>Address: {{matter.client1.address_line1}}, {{matter.client1.address_line2}}, {{matter.client1.county}}, {{matter.client1.postcode}}</p>
                                        <p class='px-2 '>Email: {{matter.client1.email}}</p>
                                        <p class='px-2 '>Contact Number: {{matter.client1.contact_number}}</p>
                                        <p class='px-2 '>Date of Last AML Check: {{matter.client1.date_of_last_aml|date:"d/m/Y"}}</p>
                                        <p class='px-2 '>ID Verified: {{matter.client1.id_verified}}</p>
                                    </div>
                                    <div class="grid grid-cols-1 justify-items-end h-fit self-top">
                                    <a class='me-2 btn-primary ' href="{% url 'edit_client' matter.client1.id %}">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if matter.client2 %}
                            <h2 id="accordion-color-heading-2">
                                <button type="button" class="text-left flex items-center justify-between w-full px-2 py-2 rtl:text-right text-black border-b dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" 
                                    data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
                                    <span class='text-black'>Client 2 - {{matter.client2.name}}</span>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
                                <div class="py-2 border border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <div class='grid grid-cols-2'>
                                        <div class='space-y-1'>
                                            <p class='px-2 '>Name: {{matter.client2.name}}</p>
                                            <p class='px-2 '>DOB: {{matter.client2.dob|date:'d/m/Y'}}</p>
                                            <p class='px-2 '>Address: {{matter.client2.address_line1}}, {{matter.client2.address_line2}}, {{matter.client2.county}}, {{matter.client2.postcode}}</p>
                                            <p class='px-2 '>Email: {{matter.client2.email}}</p>
                                            <p class='px-2 '>Contact Number: {{matter.client2.contact_number}}</p>
                                            <p class='px-2 '>Date of Last AML Check: {{matter.client1.date_of_last_aml|date:"d/m/Y"}}</p>
                                            <p class='px-2 '>ID Verified: {{matter.client2.id_verified}}</p>
                                        </div>
                                        <div class="grid grid-cols-1 justify-items-end h-fit self-top">
                                        <a class='me-2 btn-primary ' href="{% url 'edit_client' matter.client2.id %}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if matter.authorised_party1 %}
                            <h2 id="accordion-color-heading-3">
                                <button type="button" class="text-left bg-gray-50 flex items-center justify-between w-full px-2 py-2 rtl:text-right text-black dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" 
                                    data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
                                    <span class='text-black'>Authorised Party 1 - {{matter.authorised_party1.name}}</span>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
                                <div class="py-2 border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <div class='grid grid-cols-2'>
                                        <div class='space-y-1'>
                                            <p class='px-2 '>Name: {{matter.authorised_party1.name}}</p>
                                            <p class='px-2 '>Relationship with Client: {{matter.authorised_party1.relationship_to_client}}</p>
                                            <p class='px-2 '>Address: {{matter.authorised_party1.address_line1}}, {{matter.authorised_party1.address_line2}}, {{matter.authorised_party1.county}}, {{matter.authorised_party1.postcode}}</p>
                                            <p class='px-2 '>Email: {{matter.authorised_party1.email}}</p>
                                            <p class='px-2 '>Contact Number: {{matter.authorised_party1.contact_number}}</p>
                                            <p class='px-2 '>ID Check: {{matter.authorised_party1.id_check}}</p>
                                            <p class='px-2 '>Date of ID Check: {{matter.authorised_party1.date_of_id_check|date:"d/m/Y"}}
                                        </div>
                                        <div class="grid grid-cols-1 justify-items-end h-fit self-top">
                                            <a class='me-2 btn-primary' href="{% url 'edit_authorised_party' matter.authorised_party1.id %}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if matter.authorised_party2 %}
                            <h2 id="accordion-color-heading-4">
                                <button type="button" class="text-left flex items-center justify-between w-full px-2 py-2 rtl:text-right text-black border-b dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" 
                                    data-accordion-target="#accordion-color-body-4" aria-expanded="false" aria-controls="accordion-color-body-4">
                                    <span class='text-black'>Authorised Party 1 - {{matter.authorised_party2.name}}</span>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
                                <div class="text-left py-2 border border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <div class='grid grid-cols-2'>
                                        <div class='space-y-1'>
                                            <p class='px-2 '>Name: {{matter.authorised_party2.name}}</p>
                                            <p class='px-2 '>Relationship with Client: {{matter.authorised_party2.relationship_to_client}}</p>
                                            <p class='px-2 '>Address: {{matter.authorised_party2.address_line1}}, {{matter.authorised_party2.address_line2}}, {{matter.authorised_party2.county}}, {{matter.authorised_party2.postcode}}</p>
                                            <p class='px-2 '>Email: {{matter.authorised_party2.email}}</p>
                                            <p class='px-2 '>Contact Number: {{matter.authorised_party2.contact_number}}</p>
                                            <p class='px-2 '>ID Check: {{matter.authorised_party2.id_check}}</p>
                                            <p class='px-2 '>Date of ID Check: {{matter.authorised_party2.date_of_id_check|date:"d/m/Y"}}
                                        </div>
                                        <div class="grid grid-cols-1 justify-items-end h-fit self-top">
                                            <a class='me-2 btn-primary' href="{% url 'edit_authorised_party' matter.authorised_party2.id %}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if matter.other_side %}
                            <h2 id="accordion-color-heading-5">
                                <button type="button" class="text-left bg-gray-50 flex items-center justify-between w-full px-2 py-2 rtl:text-right text-black border-b dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3" 
                                    data-accordion-target="#accordion-color-body-4" aria-expanded="false" aria-controls="accordion-color-body-4">
                                    <span class='text-black'>Other Side - {{matter.other_side.name}}</span>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0 text-black" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
                                <div class="py-2 border border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                                    <div class='grid grid-cols-2'>
                                        <div class='space-y-1'>
                                            <p>Name: {{matter.other_side.name}}</p>
                                            <p>Address: {{matter.other_side.address_line1}}, {{matter.other_side.address_line2}}, {{matter.other_side.county}}, {{matter.other_side.postcode}}</p>
                                            <p>Email: {{matter.other_side.email}}</p>
                                            <p>Contact Number: {{matter.other_side.contact_number}}</p>
                                            <p>Solicitors: {{matter.other_side.solicitors}}</p>
                                            <p>Solicitors Email: {{matter.other_side.solicitors_email}}</p>
                                        </div>
                                        <div class="grid grid-cols-1 justify-items-end h-fit self-top">
                                            <a class='me-2 btn-primary' href="{% url 'edit_otherside' matter.other_side.id %}">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    
                    <li class="list-item">Matter Type: {{matter.matter_type}}</li>
                    <li class="list-item ">File Location: {{matter.file_location}}</li>
                    <li class="list-item">Key Information: {{matter.key_information}}</li>
                    <li class="list-item ">Undertakings:<br>
                        {% with matter.undertakings|jsonify as undertakings %}
                            
                            {% for undertaking in undertakings %}
                                {% if undertaking != '' %}
                                    {{ forloop.counter }} - {{undertaking }}<br>
                                {% endif %}
                            {% empty %}
                            <span class="text-green-700">No undertakings</span>
                            {% endfor %}
                            
                        {% endwith %}
                    </li>
                    <li class="list-item">File Status: {{matter.file_status}}</li>
                    <li class="list-item rounded-b-lg">Comments: {{matter.comments}}</li>
                    
                </ul>
            
            </div>
        </div>
        <div class='h-full div-container md:col-span-3 overflow-y-auto space-y-4'>
            <div class='grid grid-cols-2 mb-2'>
                <h3 class='text-2xl'>Risk Assessment</h3>
                <div class='flex gap-2 justify-self-end'>
                    {% if risk_assessment %}
        
                    {% else %}
                    <a class="btn-primary text-xs" href="{% url 'add_risk_assessment' matter.file_number %}">Add</a>

                    {% endif %}
                </div>
            </div>
            {% if risk_assessment %}


            {% if eleven_months_since_last_risk_assessment  %}
            
                <p class='px-2 py-2 bg-red-50 rounded-lg border border-red-200 text-red-900'>Ongoing Monitoring required as last risk assessment or last ongoing monitoring was done 11 months ago.</p>
            
            {% endif %}

            <div>
                
                <ul class='list'>
                    <li class="py-2 px-2 even:bg-white odd:bg-gray-50 hover:bg-blue-50 rounded-t-lg font-medium flex place-content-between"><span>Ongoing Monitoring</span><a class="link" href="{% url "add_ongoing_monitoring" file_number %}">Add New</a></li>
                {% for ongoing_monitoring in ongoing_monitorings %}
                    <li class="list-item  {% if forloop.last %}rounded-b-lg  {% endif %} ">
                        <span class='flex place-content-between' ><span>{{ongoing_monitoring.signed_by}}</span><span class='text-sm text-gray-500'>{{ongoing_monitoring.date_due_diligence_conducted|date:'d/m/Y'}}</span></span>
                        <span class="text-sm {% if ongoing_monitoring.updated_risk_level_client == 'Low'%} text-green-700 
                        {% elif ongoing_monitoring.updated_risk_level_client == 'Medium'%} text-yellow-700 
                         {% else %}text-red-700 {% endif %}" >Updated Risk Level Client: {{ongoing_monitoring.updated_risk_level_client}}</span><br>
                        <span class="text-sm {% if ongoing_monitoring.updated_risk_level_matter == 'Low'%} text-green-700 
                        {% elif ongoing_monitoring.updated_risk_level_matter == 'Medium'%} text-yellow-700 
                         {% else %}text-red-700 {% endif %}">Updated Risk Level Matter: {{ongoing_monitoring.updated_risk_level_matter}}</span><br>
                        <a class="text-sm link" href="{% url 'edit_ongoing_monitoring' ongoing_monitoring.id %}">Edit</a> / <a class='text-sm link' href="{% url 'download_ongoing_monitoring' ongoing_monitoring.id %}">Download</a>
                    </li>
                {% empty %}
                <li class="list-item   rounded-b-lg  ">
                <span class="{% if eleven_months_since_last_risk_assessment  %}text-red-700 {% else %} text-green-700{% endif %}">No data found</span>
                </li>
                {% endfor %}
                </ul>
            </div>
            <hr>
            <div class='grid grid-cols-2 mb-2'>
                <h3 class='text-xl'>Initial Risk Assessment</h3>
                <div class='flex gap-2 justify-self-end h-fit'>
                    {% if risk_assessment %}
                    <a class="btn-secondary text-xs" href="{% url 'edit_risk_assessment' risk_assessment.id %}">Edit</a>

                    <a class="btn-primary text-xs" href="{% url 'download_risk_assessment' risk_assessment.id %}">Download</a>
        
                    {% else %}
                    <a class="btn-primary text-xs" href="{% url 'add_risk_assessment' matter.file_number %}">Add</a>

                    {% endif %}
                </div>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.due_diligence_date|date:"d/m/Y" }}</td>
                        <td class='py-2 px-2'>Due Diligence Date</td>
                    </tr>
                    <tr class="even:bg-white odd:bg-gray-50 ">
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.client_source_of_funds }}</td>
                        <td class='py-2 px-2 '>Source of Funds</td>
                    </tr>
                    
                </table>
            </div>

            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan='2'>Questionnaires</td>
                        
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class="py-2 px-2 font-medium border-e {% if risk_assessment.is_pep_questionnaire_completed != 'Yes' %} text-red-700 {% endif %}">{{risk_assessment.is_pep_questionnaire_completed}}</td>
                        <td class="py-2 px-2 ">Is PEP Questionnaire completed?</td>
                    </tr>
                    <tr class="even:bg-white odd:bg-gray-50 ">
                        <td class="py-2 px-2 font-medium border-e {% if risk_assessment.is_source_of_funds_questionnaire_completed != 'Yes' %} text-red-700 {% endif %}">{{ risk_assessment.is_source_of_funds_questionnaire_completed }}</td>
                        <td class="py-2 px-2 ">Is Source of Funds questionnaire completed?</td>
                    </tr>
                    
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan='2'>Client Risks</td>
                        
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.unusual_client }}</td>
                        <td class='py-2 px-2'>Is it unusual for this type of client to instruct us?</td>
                        
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.client_concerns }}</td>

                        <td class='py-2 px-2'>Do you have any concerns about the client?<br>
                            e.g. capacity, undue influence, vulnerability
                        </td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.third_party_authority }}</td>
                        <td class='py-2 px-2'>If a third party is instructing, do we have evidence of their authority to act?</td>
                        
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.concerns_about_parties }}</td>

                        <td class='py-2 px-2'>Do you have any concerns about this client, agent or third parties?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.designated_person_entity }}</td>

                        <td class='py-2 px-2'>Is the client a designated person/entity?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 '>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.issues_identified_client_risks_sec }}</td>

                        <td class='py-2 px-2'>Please provide details of any issues identified in this section</td>
                    </tr>
                    
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class="w-full">
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan='2'>Jurisdiction Risks</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.location_of_instruction_concerns }}</td>
                        <td class='py-2 px-2 '>Do you have any concerns about the client’s location?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.make_sense_location_of_instructions }}</td>
                        <td class='py-2 px-2 '>Does it make sense for the client to instruct us from this location?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.overseas_elements }}</td>
                        <td class='py-2 px-2 '>Are there overseas elements? If yes, provide details below<br>
                            e.g. overseas beneficiary, contracts for overseas entities</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 '>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.issues_identified_jurisdiction_risks_sec }}</td>
                        <td class='py-2 px-2 '>Please provide details of any issues identified in this section</td>
                    </tr>
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium' colspan='2'>Delivery Channel Risk</td>
                        
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.meeting_in_person }}</td>
                        <td class='py-2 px-2'>Will we meet the client in person?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.who_they_are }}</td>
                        <td class='py-2 px-2'>If no, how are we satisfied that the client is who they say they are?</td>
                    </tr>
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan="2">Due Diligence Review</td> 
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.adverse_media }}</td>
                        <td class='py-2 px-2'>Is there any adverse media about the client or beneficial owners?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50'>
                        <td class='py-2 px-2 font-medium border-e'> {{ risk_assessment.due_diligence_review }}</td>
                        <td class='py-2 px-2'>What steps have you taken to verify the client or any instructing third party’s identity?</td>
                    </tr>
                    
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan="2">For entities</td> 
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e' >{{ risk_assessment.beneficial_owners_details }}</td>
                        <td class='py-2 px-2'>Please provide details of beneficial owners, shareholders/controllers including percentages of shareholdings</td>
                    </tr>
    
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e' >{{ risk_assessment.ultimate_beneficial_owners }}</td>
                        <td class='py-2 px-2'>Please provide details of steps taken to identify and verify ultimate beneficial owners</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 '>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.reportable_discrepancies }}</td>
                        <td class='py-2 px-2'>Have you identified any reportable discrepancies?</td>
                    </tr>
                    
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan="2">Matter Risks</td> 
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.matter_description }}</td>
                        <td class='py-2 px-2'>Matter Description</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.matter_transaction_value }}</td>
                        <td class='py-2 px-2'>Transaction Value</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.usual_work }}</td>
                        <td class='py-2 px-2'>Do we usually carry out this type of work?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.complex_structure }}</td>
                        <td class='py-2 px-2'>Does the matter involve creating a complex structure?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.cash_intensive_industry }}</td>
                        <td class='py-2 px-2'>Does it involve a cash-intensive industry?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.high_risk_industry }}</td>
                        <td class='py-2 px-2'>Does it involve a high-risk industry?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.proliferation_financing }}</td>
                        <td class='py-2 px-2'>Does the matter involve a risk of proliferation financing?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.other_risks }}</td>
                        <td class='py-2 px-2'>Are there any there any other AML or Counter Terrorist Financing risks?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.transactional_matter }}</td>
                        <td class='py-2 px-2'>Is the matter transactional?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.movement_of_funds_assets }}</td>
                        <td class='py-2 px-2'>If no, does the transaction arrange for the movement of funds or assets?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.receiving_funds_from_overseas }}</td>
                        <td class='py-2 px-2'>Are we receiving funds from overseas?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.receiving_funds_from_third_parties }}</td>
                        <td class='py-2 px-2'>Are we receiving funds from third parties?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.consistent_with_client_profile }}</td>
                        <td class='py-2 px-2'>Is this transaction consistent with your understanding of the client’s profile and financial position?<br>
                            e.g. it makes sense for the client to instruct us on this transaction?
                        </td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.consistent_with_client_profile }}</td>
                        <td class='py-2 px-2'>Is this transaction consistent with your understanding of the client’s profile and financial position?<br>
                            e.g. it makes sense for the client to instruct us on this transaction?
                        </td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 '>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.issues_identified_matter_risks_sec }}</td>
                        <td class='py-2 px-2'>Please provide details of any issues identified in this section</td>
                    </tr>
                            
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium ' colspan="2">Product/Service Risk</td> 
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.makes_sense_for_client }}</td>
                        <td class='py-2 px-2'>Based on the client’s profile, does it make sense for the client to instruct us on this transaction?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.product_service_risk_details }}</td>
                        <td class='py-2 px-2'>If no, please provide details</td>
                    </tr>
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium' colspan="2">Enhanced Due Diligence</td> 
                    </tr>
                    
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.complex_structure_or_unusual }}</td>
                        <td class='py-2 px-2'>If the client is not an individual, is the structure complex or unusual?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.higher_risk_sector }}</td>
                        <td class='py-2 px-2'>Does the client own, manage or direct a business or activity that falls within a higher risk sector?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.cash_intensive_business_activity }}</td>
                        <td class='py-2 px-2'>Does the matter involve a client, a beneficial owner or other party linked to the Transaction, manage or direct a business or activity that is cash intensive?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.high_risk_third_country_or_jurisdiction }}</td>
                        <td class='py-2 px-2'>Does the matter involve a client, a beneficial owner or any party established in a <span class='underline'>high-risk third country</span> or high-risk or jurisdiction?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.politically_exposed_person }}</td>
                        <td class='py-2 px-2'>Is the client, a beneficial owner or any party linked to the transaction a politically exposed person (PEP), family member or a close associate of a PEP?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.financial_sanctions }}</td>
                        <td class='py-2 px-2'>Do you have any concerns that the client, a beneficial owner or any parties linked to the transaction is subject to financial sanctions or has links to a country subject to sanctions?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.country_subject_to_sanctions }}</td>
                        <td class='py-2 px-2'>Will this matter involve a country subject to sanctions?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.unusual_complex_transaction }}</td>
                        <td class='py-2 px-2'>Is the transaction unusually complex or large?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.unusual_pattern_of_transactions }}</td>
                        <td class='py-2 px-2'>Does this transaction form part of an unusual pattern of transactions?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.lack_of_economic_or_legal_purpose }}</td>
                        <td class='py-2 px-2'>Does the transaction lack an apparent economic or legal purpose?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.other_high_risk_factors }}</td>
                        <td class='py-2 px-2'>Are there any other factors that could indicate a higher risk of money laundering or terrorist financing?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.escalated_date }}</td>
                        <td class='py-2 px-2'>If risks identified, date escalated to nominated person</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50'>
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.issues_identified_enhanced_due_dilligence }}</td>
                        <td class='py-2 px-2'>Please provide details of any issues identified in this section.</td>
                    </tr>
                    
                    
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium' colspan="2">Risk Level and Jurisdiction</td> 
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.client_risk_level }}</td>
                        <td class='py-2 px-2'>Client Risk Level</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.matter_risk_level }}</td>
                        <td class='py-2 px-2'>Matter Risk Level</td>
                    </tr>
                
                    <tr class='even:bg-white odd:bg-gray-50 border-b'>
                        <td class='py-2 px-2 font-medium' colspan="2">For High Risk Matters: </td> 
                    </tr>
                    
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.evidence_of_source_of_wealth }}</td>
                        <td class='py-2 px-2'>Evidence of Source of Wealth</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.source_of_wealth_correspondence}}</td>
                        <td class='py-2 px-2'>Source of Wealth Correspondence</td>
                    </tr>
                </table>
            </div>
            <div class="rounded-lg border overflow-x-auto" >
                <table class='w-full'>
                    
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.customer_due_diligence_level }}</td>
                        <td class='py-2 px-2'>What level of customer due diligence will you apply?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.customer_due_diligence_level }}</td>
                        <td class='py-2 px-2'>What level of customer due diligence will you apply?</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50 border-b' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.due_diligence_date|date:"d/m/Y" }}</td>
                        <td class='py-2 px-2'>Due Diligence Date</td>
                    </tr>
                    <tr class='even:bg-white odd:bg-gray-50' >
                        <td class='py-2 px-2 font-medium border-e'>{{ risk_assessment.due_diligence_signed_by }}</td>
                        <td class='py-2 px-2'>Signed By</td>
                    </tr>
                </table>
            </div>
            
            {% else %}
            <p class='px-2 py-2 bg-red-50 rounded-lg border border-red-200 text-red-900'>No Risk Assessment Done</p>
            {% endif %}

            


        </div>
        <div class='div-container h-full md:col-span-2 overflow-y-auto'>
            <h3 class='text-2xl  mb-2'>Compliance</h3>
            <div class="overflow-y-auto" id="Compliance">
    
                <ul class="list">
                    <li class="list-item rounded-t-lg bg-gray-50">Client Care Letter Sent on: {{matter.date_of_client_care_sent|date:"d/m/Y"}}</li>
                    <li class="list-item">Date Terms Of Engagement Sent: {{matter.date_of_toe_sent|date:"d/m/Y"}}</li>
                    <li class="list-item bg-gray-50">Date Terms Of Engagement Received: {{matter.date_of_toe_rcvd|date:"d/m/Y"}}</li>
                    <li class="list-item">Terms of Engagement Client 1: {{matter.terms_of_engagement_client1}}</li>
                    <li class="list-item bg-gray-50">Terms of Engagement Client 2: {{matter.terms_of_engagement_client2}}</li>
                    <li class="list-item">Date NCBA Sent: {{matter.date_of_ncba_sent|date:"d/m/Y"}}</li>
                    <li class="list-item bg-gray-50">Date NCBA Received: {{matter.date_of_ncba_rcvd|date:"d/m/Y"}}</li>
                    <li class="list-item">NCBA Client 1: {{matter.ncba_client1}}</li>
                    <li class="list-item rounded-b-lg bg-gray-50">NCBA Client 2: {{matter.ncba_client2}}</li>
                </ul>
            </div>
        </div>
        
    </div>
   
        
 </div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    
    var logTable = document.getElementById("logTable");
    var rows = logTable.getElementsByClassName("log-row");
    var checkboxes = document.querySelectorAll(".filter-checkbox");
   
    function applyFilters() {
        var showCorrespondence = document.getElementById("filterCorrespondence").checked;
        console.log(document.getElementById("filterCorrespondence").checked, document.getElementById("filterCorrespondence"));
        var showFinance = document.getElementById("filterFinance").checked;
        var showAttendanceNote = document.getElementById("filterAttendanceNote").checked;
    
        for (var i = 0; i < rows.length; i++) {
            var type = rows[i].getAttribute("data-type").toLowerCase();
            var cells = rows[i].getElementsByTagName("td");
            var found = false;
    
            if ((showCorrespondence && (type === "email" || type === "letter")) ||
                (showFinance && (type === "invoice" || type === "pmts_slip" || type === "green_slip")) ||
                (showAttendanceNote && type === "attendance_note") ||
                type === "next_work" || type === "last_work" || type === "file_info" ||
                type === "client_info" || type === "risk_assessment" ||
                type === "ongoing_monitoring" || type === "authorised_party_info" ||
                type === "other_side_info") {
                found = true;
            }
    
            if (found) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
    

    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener("change", applyFilters);
    });

    applyFilters();

    
  });
  document.addEventListener("DOMContentLoaded", function () {
      var moreButtons = document.querySelectorAll(".more-button");

      moreButtons.forEach(function (button) {
          button.addEventListener("click", function () {
              var content = this.previousElementSibling;
              var fullContent = this.nextElementSibling;
              
              if (content.style.display === "none") {
                  content.style.display = "inline";
                  this.textContent = "More";
                  this.className = "link"
              } else {
                  content.style.display = "none";
                  this.textContent = "Less";
                  this.className = "link float-end"
              }

              if (fullContent.style.display === "none") {
                  fullContent.style.display = "block";
              } else {
                  fullContent.style.display = "none";
              }
          });
      });
  });
</script>
{% endblock %}
