{% extends 'base.html' %}
{% block title %}Onboarding Documents{% endblock %}
{% block container %}
<div class="space-y-5">
  <div class="div-container py-3">
    <h1 class="text-2xl font-semibold text-gray-900">Onboarding documents</h1>
    
  </div>

  <div class="div-container">
    <div id="accordion-open" data-accordion="open">
      {% include 'elements/accordion_with_download_btn.html' with number=1 heading='PEP Declaration' body='onboarding_docs/pep.html' first=True %}
      {% include 'elements/accordion_with_download_btn.html' with number=2 heading='Source of Funds - Declaration' body='onboarding_docs/source_of_funds.html' last=True %}
    </div>
  </div>
</div>
{% endblock %}
