{% extends 'base.html' %}
{% block title %}Policies{% endblock %}
{% block container %}
<div class='grid md:grid-cols-2 gap-4 mt-2'>
    <h1 class='div-container md:w-fit h-fit text-3xl font-medium '>ANP Policies</h1>
    <div class='div-container'>
        <p class='text-justify' style='font-family:"arial";'>
            All ANP Staff must understand and implement these policies accordingly. If you do not understand anything please speak to a director.
            
        </p>
    </div>
</div>
<div class="bg-white rounded-lg mt-4">
    <div id="accordion-open" data-accordion="open">
        {% include 'elements/accordion_item.html' with number=1 heading='AML Policy' body='policies/aml_policy.html' first=True%}
        {% include 'elements/accordion_item.html' with number=2 heading='Anti-Tax Evasion Policy' body='policies/anti_facilitating_tax_evasion.html' %}
        {% include 'elements/accordion_item.html' with number=3 heading='Anti Mortgage Fraud and Property Fraud' body='policies/anti_mortgage_fraud_and_property_fraud.html' %}
        {% include 'elements/accordion_item.html' with number=4 heading='Business Continuity Plan' body='policies/business_continuity.html' %}
        {% include 'elements/accordion_item.html' with number=5 heading='Complaints Guide' body='policies/complaints.html' %}
        {% include 'elements/accordion_item.html' with number=6 heading='Complaints, Reporting and Whistleblower' body='policies/complaints_reporting_and_whistleblower.html' %}
        {% include 'elements/accordion_item.html' with number=7 heading='Compliance Plan' body='policies/compliance_plan.html' %}
        {% include 'elements/accordion_item.html' with number=8 heading='Conflicts Policy' body='policies/conflicts_policy.html' %}
        {% include 'elements/accordion_item.html' with number=9 heading='Email Policy' body='policies/email_policy.html' %}
        {% include 'elements/accordion_item.html' with number=10 heading='Equality and Diversity Policy' body='policies/equality_and_diversity.html' %}
        {% include 'elements/accordion_item.html' with number=11 heading='Gifts and Bribery Policy' body='policies/gifts_and_bribery.html' %}
        {% include 'elements/accordion_item.html' with number=12 heading='Health and Safety Policy' body='policies/health_and_safety.html' %}
        {% include 'elements/accordion_item.html' with number=13 heading='Outsourcing Policy' body='policies/outsourcing_policy.html' %}
        {% include 'elements/accordion_item.html' with number=14 heading='Referral Arrangements' body='policies/referral_arrangements.html' %}
        {% include 'elements/accordion_item.html' with number=15 heading='Social Media Policy' body='policies/social_media_policy.html' last=True %}
        
       
    </div>

</div>
{% endblock %}
